In [36]:
import pandas as pd

In [40]:
df1 = pd.read_csv('raw/ACSDT5Y2016.B01003-Data.csv', skiprows=1, dtype={'Estimate!!Total': int})

df2 = pd.read_csv('raw/ACSDT5Y2021.B01003-Data.csv', skiprows=1, dtype={'Estimate!!Total': int})

In [41]:
df1.head(5)

,Geography,Geographic Area Name,Estimate!!Total,Annotation of Estimate!!Total,Margin of Error!!Total,Annotation of Margin of Error!!Total
0,0500000US48001,"Anderson County, Texas",57772,NaN,*****,*****
1,0500000US48003,"Andrews County, Texas",17215,NaN,*****,*****
2,0500000US48005,"Angelina County, Texas",87657,NaN,*****,*****
3,0500000US48007,"Aransas County, Texas",24729,NaN,*****,*****
4,0500000US48009,"Archer County, Texas",8750,NaN,*****,*****

In [48]:
df1.dtypes

Geography                                object
Geographic Area Name                     object
Estimate!!Total                           int64
Annotation of Estimate!!Total           float64
Margin of Error!!Total                   object
Annotation of Margin of Error!!Total     object
dtype: object

In [49]:
df_merge = pd.merge(df1, df2, how="outer", on=["Geography"])

In [50]:
len(df_merge.index)

254

In [51]:
df_merge.head(5)

,Geography,Geographic Area Name_x,Estimate!!Total_x,Annotation of Estimate!!Total_x,Margin of Error!!Total_x,Annotation of Margin of Error!!Total_x,Geographic Area Name_y,Estimate!!Total_y,Annotation of Estimate!!Total_y,Margin of Error!!Total_y,Annotation of Margin of Error!!Total_y
0,0500000US48001,"Anderson County, Texas",57772,NaN,*****,*****,"Anderson County, Texas",58133,NaN,*****,*****
1,0500000US48003,"Andrews County, Texas",17215,NaN,*****,*****,"Andrews County, Texas",18184,NaN,*****,*****
2,0500000US48005,"Angelina County, Texas",87657,NaN,*****,*****,"Angelina County, Texas",86584,NaN,*****,*****
3,0500000US48007,"Aransas County, Texas",24729,NaN,*****,*****,"Aransas County, Texas",24149,NaN,*****,*****
4,0500000US48009,"Archer County, Texas",8750,NaN,*****,*****,"Archer County, Texas",8616,NaN,*****,*****

In [52]:
df_merge.dtypes

Geography                                  object
Geographic Area Name_x                     object
Estimate!!Total_x                           int64
Annotation of Estimate!!Total_x           float64
Margin of Error!!Total_x                   object
Annotation of Margin of Error!!Total_x     object
Geographic Area Name_y                     object
Estimate!!Total_y                           int64
Annotation of Estimate!!Total_y           float64
Margin of Error!!Total_y                   object
Annotation of Margin of Error!!Total_y     object
dtype: object

In [55]:
df_merge['pop_change'] = df_merge['Estimate!!Total_y'] - df_merge['Estimate!!Total_x']

In [56]:
df_merge['pop_change_pct'] = ((df_merge['Estimate!!Total_y'] - df_merge['Estimate!!Total_x'])/df_merge['Estimate!!Total_x']) * 100

In [58]:
df_merge_short = df_merge[['Geographic Area Name_x', 'Estimate!!Total_x', 'Estimate!!Total_y', 'pop_change', 'pop_change_pct']]

In [60]:
df_merge_short.head(5)

,Geographic Area Name_x,Estimate!!Total_x,Estimate!!Total_y,pop_change,pop_change_pct
0,"Anderson County, Texas",57772,58133,361,0.624870
1,"Andrews County, Texas",17215,18184,969,5.628812
2,"Angelina County, Texas",87657,86584,-1073,-1.224089
3,"Aransas County, Texas",24729,24149,-580,-2.345424
4,"Archer County, Texas",8750,8616,-134,-1.531429

In [61]:
df_merge_short.rename(columns={'Geographic Area Name_x': 'county', 'Estimate!!Total_x': 'pop_2016', 'Estimate!!Total_y': 'pop_2021'}, inplace=True)

/Users/carlaastudillo/.local/share/virtualenvs/nicar-2023-rapid-python-google-sheets-3FyDBX37/lib/python3.7/site-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [64]:
df_merge_short.sort_values(by=['pop_change_pct'], ascending=False)

                     county  pop_2016  pop_2021  pop_change  pop_change_pct
104      Hays County, Texas    185686    234573       48887       26.327779
221   Terrell County, Texas       778       979         201       25.835476
45      Comal County, Texas    124234    156257       32023       25.776358
128   Kaufman County, Texas    111830    140145       28315       25.319682
172    Motley County, Texas      1022      1269         247       24.168297
..                      ...       ...       ...         ...             ...
52   Crockett County, Texas      3836      2939        -897      -23.383733
22    Briscoe County, Texas      1672      1266        -406      -24.282297
62    Dickens County, Texas      2237      1569        -668      -29.861422
68    Edwards County, Texas      2028      1366        -662      -32.642998
130    Kenedy County, Texas       558       169        -389      -69.713262

[254 rows x 5 columns]

In [84]:
df_merge_short['county'] = df_merge_short['county'].str.replace(" County, Texas", "")

/Users/carlaastudillo/.local/share/virtualenvs/nicar-2023-rapid-python-google-sheets-3FyDBX37/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/carlaastudillo/.local/share/virtualenvs/nicar-2023-rapid-python-google-sheets-3FyDBX37/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [85]:
no_small_counties = df_merge_short[df_merge_short['pop_2021'] > 10000].sort_values(by=['pop_change_pct'], ascending=False)

In [86]:
no_small_counties

         county  pop_2016  pop_2021  pop_change  pop_change_pct
104        Hays    185686    234573       48887       26.327779
45        Comal    124234    156257       32023       25.776358
128     Kaufman    111830    140145       28315       25.319682
10      Bastrop     78286     94887       16601       21.205580
245  Williamson    490619    591759      101140       20.614774
..          ...       ...       ...         ...             ...
57       Dawson     13317     12371        -946       -7.103702
109     Hockley     23377     21670       -1707       -7.302049
231      Uvalde     27055     24918       -2137       -7.898725
175      Newton     14138     12532       -1606      -11.359457
65        Duval     11510     10001       -1509      -13.110339

[163 rows x 5 columns]

In [87]:
no_small_counties.to_csv('output/county_pop_change_more_10000.csv', index=False)

no_small_counties.to_csv('output/top_10_county_Texas_change.csv', index=False)